.cards {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
}